---
layout: default
title: Over MADspace, de Eindhovense Hackerspace
permalink: /over/
---

<h2>Home</h2>
<p>Welkom bij stichting MADspace. De eerste officiële hackerspace te
    Eindhoven. Opgericht op 25 juli 2013 te Eindhoven. Lees meer over de <a
        href="/history.html">geschiedenis</a> van MADspace.</p>
<h3>Doel:</h3>
<ul>
  <li>het faciliteren van een hacker community, met name doch niet uitsluitend voor de regio Eindhoven, door middel van het faciliteren en stimuleren van activiteiten op het gebied van wetenschap en technologie en de raakvlakken met creativiteit, innovatie, kunst en cultuur;</li>
  <li>het verrichten van alle verdere handelingen, die met het vorenstaande in de ruimste zin verband houden of daartoe bevorderlijk kunnen zijn.</li>
</ul>
<h3>Verwezenlijking:</h3>
<ul>
  <li>het faciliteren van de benodigde ruimte(n), zoals, doch niet uitsluitend, ontmoetingsruimte(n) en projectruimte(n) voor deelnemers, onderzoekers, hobbyisten en geïnteresseerden op het gebied van voormelde activiteiten;</li>
  <li>het faciliteren van apparatuur en gereedschap om projecten te (kunnen) ondersteunen;</li>
  <li>het verzamelen, tentoonstellen en (trachten) functioneel te houden van klassieke technologie;</li>
  <li>het organiseren en faciliteren van lezingen, workshops en bijeenkomsten.</li>
</ul>

Antwoorden op veelgestelde vragen vind je <a href="/faq.html">hier</a>.

{% include blocks/bestuur.html %}
{% include blocks/contact.html %}

<a name="donaties"></a>
<h3>Doneer:</h3>
<p>Omdat wij geen overheidssubsidie ontvangen zijn wij geheel afhankelijk van donaties en sponsoring van particulieren en bedrijven.</p>
<ul>
  <li>U kunt uw (maandelijkse) donatie overmaken op ons banknummer IBAN: NL80ABNA0500735042 tnv Stichting MADspace te Eindhoven.</li>
  <li>Ook accepteren wij Bitcoins als uw (maandelijkse) donatie op ons Bitcoin adres: <a href="bitcoin:17QzQzLLJitZW2xsd2VtB4x2BQ3oC6vrMb">17QzQzLLJitZW2xsd2VtB4x2BQ3oC6vrMb</a></li>
</ul>

{% include blocks/donatie_bank.html %}
{% include blocks/donatie_bitcoin.html %}

