<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title and page.title != site.title and page.layout != 'home' %}
      {{ page.title }} | {{ site.title }}
    {% elsif page.layout == 'home' %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="robots" content="index, follow" />
  <meta name="robots" content="all" />
  <meta name="revisit-after" content="7 days" />
  
  <link type="text/css" rel="stylesheet" href="/assets/css/3.2.0.bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/main.css" />
  <link type="image/x-icon" rel="shortcut icon" href="/assets/img/favicon.ico" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="/assets/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/assets/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
