<h3>Bestuur:</h3>
<ul>
  <li><a href="http://nl.linkedin.com/in/koenaben" onclick="window.open(this.href); return false;">Koen Aben</a> (Voorzitter)</li>
  <li><a href="http://heerdebeer.org" onclick="window.open(this.href); return false;">Huub de Beer</a> (Secretaris)</li>
  <li><a href="https://joosthoeks.github.io" onclick="window.open(this.href); return false;">Joost Hoeks</a> (Penningmeester)</li>
  <li><a href="http://nl.linkedin.com/in/tomgeelen" onclick="window.open(this.href); return false;">Tom Geelen</a> (Bestuurslid)</li>
</ul>
