<h3>Social:</h3>
<ul>
  <li><a href="http://madspace.nl" onclick="window.open(this.href); return false;">MADspace.nl</a></li>
  <li><a href="https://www.facebook.com/MADspace" onclick="window.open(this.href); return false;">Facebook</a></li>
  <li><a href="https://twitter.com/MADspaceNL" onclick="window.open(this.href); return false;">Twitter</a></li>
  <li><a href="http://www.linkedin.com/groups/MADspace-5134113/about" onclick="window.open(this.href); return false;">Linkedin</a></li>
  <li><code>#madspace</code> on the <a
          href="https://freenode.net/">Freenode</a> IRC network (you can join via <a
          href="https://webchat.freenode.net/">webchat</a>)</li>
</ul>
